:root {
  -primary-color-text: #757575; /* gray */
  -primary-color-back: #E5E5E5; /*white*/
  -secondary-color-select: #2196F3 ; /*blue*/
}


body {
  font-family: Roboto, Raleway;
  color: var(-primary-color);
}

.nav-list {
  list-style: none; 
  display: flex;
}

.header {
  /* display: flex;
  align-items: baseline;
  justify-content: normal; */
  /* position: relative;
  list-style-type: none; */
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
}

.contact-list {
  display: flex;
}

.btn-order {
  background-color: #2196f3;
  border: none;
  cursor:pointer;
}
